

<div class="body-body">

   <div class="top-body">

   
<div class="title">

     <p> DASHBOARD </p>

</div>

</div>



   <div class="inside-body">

    <div class="box-1">
     
    <span class="inner-box-text"> <h2>  {{alluser}} </h2> Total Users  </span>

<a href="/add-users"  title="Add New User" >

    <div class="icon-div">
      <div class="icon">  
        +
    </div>
    </div>
</a>
    </div>


    <div class="box-2">

    <span class="inner-box-text"> <h2> {{premuser}} </h2> Premium Users  </span>
    

    </div>


    <div class="box-3">

    <span class="inner-box-text"> <h2> {{reguser}} </h2> Regular Users  </span>


    </div>


    <div class="box-4">

<span class="inner-box-text"> <h2> {{totalrevenue}} </h2> Total Revenue </span>



    </div>



   </div>

</div>

 </div>



</body>
</html>