{{#each userFound}}
<div class="body-body">

   <div class="top-body">

   
<div class="title">

     <h1>Welcome {{name}} this is your profile </h1>

</div>



</div>

   <div class="inside-body">
    <div>A {{gender}} with a {{plan}} plan </div>
   </div>

</div>

 </div>
 {{/each}}